<div class="well" id="about">

<h1>About Us</h1>
<p>Having spent the last few decades reading these genres and wanting to share this passion with a group of like-minded readers, I was disappointed not to find an Seattle book club Meetup devoted to Sci-Fi and Fantasy. So, here we are.</p>

<p>If you're passionate about reading and discussing Sci-Fi and Fantasy books, then this is the place for you! Twice a month we'll meet to discuss the current book selection, which alternates between SF and Fantasy. Every so often when we're several months out from finishing the last of the scheduled meetups, we offer, as a group, book suggestions for the next 12-18 month's worth of reading.</p>

<p>It's a great way to get recommendations from fellow enthusiasts and experience the myriad imagineerings from many different perspectives. By scheduling the meetups so far in advance, it ensures that there's plenty of time for members to put holds on titles in the library system.</p>

<p>Come join us!</p>

</div>
